/*Feuille de style*/

/* Bordures et style pour les élements "Nom d'utilisateur" et "Mot de passe" */
.bordure-authentif-titre{
    color : white ;
    background-color: #FF0000;
}

/* Bordures et style pour les champs de l'utilisateur et du mdp */
.bordure-authentif-champ{
    color : white ;
    background-color: #999999;
}

/* Fond d'écran pour la page d'authentification */
.fond-authentif{
    background-color: #666666;
}

/* Marge avec le logo */
.marge-logo{
    padding-bottom: 2%;
}

label{
    padding-left: 5px;
    padding-right: 5px;
}
